<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/blog/create">Create new blog</a>
<br><br>
<a href="/blog">Back to list</a>
<h3>View blog</h3>

<label><b>Title</b></label><br>
<p th:text="${el.title}"/></p>

<label><b>Category</b></label><br>
<p th:text="${el.category.categoryName}"/></p>

<label><b>Content</b></label><br>
<p th:text="${el.content}"/></p>

<button type="button"><a th:href="@{/blog/edit/{id}(id = ${el.id})}">Edit</a></button>
<br><br>
<button type="button"><a th:href="@{/blog/delete/{id}(id = ${el.id})}">Delete</a></button>
</body>
</html>