<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>delete</title>
</head>
<body>
<h1>Delete Category</h1>
<p>
    <a href="/category">Back to list</a>
</p>

<form th:action="@{/category/delete}" method="post" th:object="${el}" >
    <input th:type="hidden" name="id" th:field="*{categoryId}">
    <table>
        <tr>
            <td>First name:</td>
            <td th:text="${el.categoryName}"></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Remove"></td>
        </tr>
    </table>
</form>
</body>
</html>